APP_NAME=place-service
APP_ENV=development

HTTP_PORT=8090
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s

POSTGRES_HOST=localhost
POSTGRES_PORT=5441
POSTGRES_USER=place_service
POSTGRES_PASSWORD=place_secret_dev
POSTGRES_DB=place_service_db
POSTGRES_SSLMODE=disable
POSTGRES_MAX_CONNS=10
POSTGRES_MIN_CONNS=2

LOG_LEVEL=debug

PLACE_CACHE_ENABLED=true
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_CACHE_DB=4
PLACE_CACHE_KEY_PREFIX=place-service:cache:
PLACE_DETAIL_CACHE_TTL=15m
PLACE_LIST_CACHE_TTL=5m

INTERNAL_SERVICE_TOKEN=super-secret-internal-token
REQUIRE_AUTHENTICATED_WRITES=true
TRUSTED_GATEWAY_HEADER_USER_ID=X-User-Id
TRUSTED_GATEWAY_HEADER_ROLES=X-User-Roles
TRUSTED_GATEWAY_HEADER_SUB=X-Auth-Subject
REQUEST_ID_HEADER=X-Request-Id

USER_SERVICE_GRPC_TARGET=dns:///localhost:9094
