APP_NAME=payment-service
APP_ENV=development

HTTP_PORT=8091
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=payment_service
POSTGRES_PASSWORD=payment_secret_dev
POSTGRES_DB=payment_service_db
POSTGRES_SSLMODE=disable
POSTGRES_MAX_OPEN_CONNS=10
POSTGRES_MIN_OPEN_CONNS=2
POSTGRES_MAX_CONN_LIFETIME=1h
POSTGRES_MAX_CONN_IDLE_TIME=30m

LOG_LEVEL=debug

INTERNAL_SERVICE_TOKEN=super-secret-internal-token
REQUIRE_AUTHENTICATED_REQUESTS=true
REQUIRE_AUTHENTICATED_WRITES=true
TRUSTED_GATEWAY_HEADER_USER_ID=X-User-Id
TRUSTED_GATEWAY_HEADER_ROLES=X-User-Roles
TRUSTED_GATEWAY_HEADER_SUB=X-Auth-Subject
REQUEST_ID_HEADER=X-Request-Id

PAYMENT_PROVIDER=mock

ANTI_FRAUD_ENABLED=false
ANTI_FRAUD_BASE_URL=http://anti-fraud-service:8096
ANTI_FRAUD_INTERNAL_SERVICE_TOKEN=super-secret-internal-token
ANTI_FRAUD_TIMEOUT=800ms
