APP_NAME=switches-service
APP_ENV=development
HTTP_PORT=8096

DB_HOST=localhost
DB_PORT=5432
DB_NAME=switches_service_db
DB_USER=switches_service
DB_PASSWORD=switches_secret_dev
DB_SSLMODE=disable

CACHE_TTL=10s
CACHE_MISS_TTL=2s
CACHE_INVALIDATION_LISTENER_ENABLED=true

INTERNAL_SERVICE_TOKEN=super-secret-internal-token
SCHEDULER_ENABLED=true
SCHEDULER_INTERVAL=1m
